# Copyright (c) 2026 PaperProof Labs
# SPDX-License-Identifier: Apache-2.0

RUST_LOG=paperproof_sdk_rs=info
PAPERPROOF_RS_INDEXER_OUT=/var/lib/paperproof/indexer
PAPERPROOF_RS_TAIL=1
PAPERPROOF_RS_TAIL_INTERVAL_MS=10000
PAPERPROOF_RS_TAIL_LIMIT=50
PAPERPROOF_RS_BACKFILL_LIMIT=100
PAPERPROOF_RS_BACKFILL_PAGES=10
